In [2]:
import pandas as pd
import pickle

In [3]:
def read_pickle_file(file_path):
    try:
        with open(file_path, 'rb') as file:
            data = pickle.load(file)
            return data
    except FileNotFoundError:
        print("File not found. Please provide a valid file path.")
    except Exception as e:
        print("An error occurred: ", e)

In [4]:
ds = read_pickle_file('/data/huengchi/Research/SPEER/Datasets_Processed/0-0-0-5284_LLM_FT_Dataset_len_6.0K_BIOS_ner.pkl')

In [5]:
ds.columns

Index(['example_id', 'source', 'target', 'len_src_tok', 'len_tgt_tok',
       'len_total_tok', 'source_ner_res', 'target_ner_res'],
      dtype='object')

In [6]:
# ds=ds[['example_id', 'source', 'target']]
ds=ds[['example_id', 'source', 'target', 'len_src_tok', 'len_tgt_tok', 'len_total_tok']]

In [7]:
df_shuffled = ds.sample(frac=1,random_state=42).reset_index(drop=True)

In [8]:
train_size = 0.9463
train_index = int(len(df_shuffled) * train_size)

In [9]:
df_shuffled.shape

(5284, 6)

In [10]:
train_set = df_shuffled[:train_index]
test_set = df_shuffled[train_index:]

In [48]:
train_set

,example_id,source,target
0,42067_110395,11:37 PM CT HEAD W O CONTRAST Clip # Reason: e...,Patient with acute mental status change found ...
1,12566_111958,Sinus rhythm Early transition Since previous t...,1 ASTHMA FLARE: Pt's presentation was consiste...
2,21957_114837,Sinus rhythm Left ventricular hypertrophy QS i...,A P: A P: 44yo male with HIV CD4 of 123 and VL...
3,22573_115337,Sinus rhythm Conduction defect of RBBB type In...,The patient was taken to the Operating Room on...
4,6990_115527,Sinus bradycardia Left atrial abnormality Left...,Pt is a 88 year old female with remote hx of C...
...,...,...,...
4995,88740_101643,Sinus tachycardia. Non-specific ST-T wave chan...,Ms. was admitted to the TSICU after her operat...
4996,17660_115192,Sinus rhythm. Low limb lead voltage. Early R w...,The patient was admitted to the Medical Intens...
4997,65906_104005,Sinus rhythm. Right bundle-branch block. Promi...,The patient was admitted to the general surger...
4998,32178_109473,Admission Note Baby admitted to NICU for Cardi...,Respiratory. There were no issues. Breath soun...
4999,15704_110784,Sinus rhythm Inferior T wave changes are nonsp...,The patient was admitted to the ICU for q1 hou...

In [14]:
test_set.sort_values(by='len_src_tok')[190:]

,example_id,source,target,len_src_tok,len_tgt_tok,len_total_tok
5245,9143_106098,Brady arrhbythmia - mechanism uncertain - junc...,Cardiovascular: Mrs. had positive troponins bu...,2949,873,3822
5000,84179_115101,Artifact is present. Sinus rhythm. Probably no...,57 year old male with pmh of decompensated Hep...,2972,1103,4075
5247,10320_109761,Sinus rhythm Low voltage Consider anteroseptal...,"Once the patient was consented, the patient wa...",3008,1559,4567
5212,7297_115630,"Sinus rhythm, rate 96. Left atrial abnormality...",The patient was transferred to CCU team. 1. Ca...,3011,958,3969
5251,2809_100426,Sinus rhythm. Low limb lead voltage. T wave in...,The patient is an 85 yo woman w transfusion de...,3015,690,3705
...,...,...,...,...,...,...
5144,46205_118871,Sinus rhythm. Normal tracing. Compared to the ...,Patient was admitted to the West 2A surgical s...,5371,760,6131
5198,13960_103876,12:46 PM CHEST PORTABLE AP Clip # Reason: r o ...,A P: 47 yo with COPD admitted with increasing ...,5454,527,5981
5211,32367_116509,Sinus tachycardia with atrial premature beats....,64M with h o falls presents s p fall while int...,5506,236,5742
5021,90890_112210,Sinus bradycardia. The Q-T interval is prolong...,Patient was admitted to the Vascular Surgery s...,5586,406,5992
5046,68140_112268,Sinus tachycardia with occasional premature at...,83 year old man with a h o of metastatic bladd...,5972,111,6083

In [51]:
train_set.to_json(f'train_{train_set.shape[0]}.jsonl', orient='records', lines=True)

In [52]:
test_set.to_json(f'test_{test_set.shape[0]}.jsonl', orient='records', lines=True)